/* for our digital security tests on loginsample.html*/

button {
       background-color: #4CAF50;
       width: 100%;
        color: orange;
        padding: 15px;
        margin: 10px 0px;
        border: none;
        cursor: pointer;
         }

form {
        border-radius: 0;
        border: 2px dashed #444444;
        height: 75px;
        width: 250px;
    }

input {
        border-radius: 0;
        border: 2px dashed #444444;
        height: 75px;
        width: 250px;
    }
